@import "tailwindcss";

@theme {
  --color-discord-blurple: #5865F2;
  --color-discord-dark: #313338;
  --color-discord-black: #2B2D31;
  --color-discord-gray: #B5BAC1;
  --color-main-green: #22B04E;
  --color-main-yellow: #FEC80C;
}

body {
  background-color: var(--color-discord-dark);
  color: white;
  overflow: hidden;
}


.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}